*~
paper.pdf
*.css
*.html
*.js
pict.png
refute/isabelle-authors-conjecture
refute/isabelle-authors-conjecture.hi
refute/isabelle-authors-conjecture.o
refute/dart-authors-conjecture
refute/dart-authors-conjecture.hi
refute/dart-authors-conjecture.o
compiled/
*.vo
*.v.d
*.glob
lia.cache
nlia.cache
supp/Makefile
supp/model/
./supp.tar.gz
